body {
    text-align: center;
}
.timer {
    font-size: 150%;
    width: 33%;
    border: 2px solid black;
}

.score {
    font-size: 150%;
    width: 33%;
    border: 2px solid black;
}

.reset1 {
    font-size: 150%;
}
